@font-face {
    font-family: hellbent;
    src: url(Hellbone-Demo.otf)
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 10vh;
    font-size: 1.5rem;
}

h1 {
    font-family: hellbent;
    color: #DC143C;
    font-size: 5rem;
}

.warning-box {
    margin-top: 4vh;
    font-size: 1.5rem;
}

